{% extends 'base_other.html' %}
{% load static %}

{% block title %}Гостишка | Наш блог{% endblock %}

{% block content %}
        
        <!-- About Section Start -->
        <div id="about">
            <div class="container">
                <div class="section-header">
                    <h2>80 дней вокруг света. </h2>
                    <p>
                        Тут по идее будет нечто вроде блога
                    </p>
                </div>
                <div class="row">
                    <div class="col-md-6 img-cols">
                        <div class="img-col">
                            <img class="img-fluid" src="{% static 'img/about/about-1.jpg' %}">
                        </div>
                    </div>
                    <div class="col-md-6 content-cols">
                        <div class="content-col">
                            <h3>Восхождение на вулкан</h3>
                            <p>
                                Ходили как-то на вулкан - трудно
                            </p>
                            <a href="#">Подробнее</a>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-6 img-cols d-block d-md-none">
                        <div class="img-col">
                            <img class="img-fluid" src="{% static 'img/about/about-2.jpg' %}">
                        </div>
                    </div>
                    <div class="col-md-6 content-cols">
                        <div class="content-col">
                            <h3>Буря в стакане</h3>
                            <p>
                                После унылых дебрей можно и побухать на пляжике - кайф
                            </p>
                            <a href="#">Подробнее</a>
                        </div>
                    </div>
                    <div class="col-md-6 img-cols d-none d-md-block">
                        <div class="img-col">
                            <img class="img-fluid" src="{% static 'img/about/about-2.jpg' %}">
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-6 img-cols">
                        <div class="img-col">
                            <img class="img-fluid" src="{% static 'img/about/about-3.jpg' %}">
                        </div>
                    </div>
                    <div class="col-md-6 content-cols">
                        <div class="content-col">
                            <h3>Трансфер обратно к нам в ГОСТИШКУ</h3>
                            <p>
                                С приездом!
                            </p>
                            <a href="#">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About Section End -->
{% endblock %}        