{% extends 'base_simple.html' %}

{% block content %}

        <!-- Amenities Section Start -->
        <div id="amenities">
            <div class="container">
                <div class="section-header">
                    <h2>Удобства & Сервис</h2>
                    <p>
                        В нашей ГОСТИШКЕ предоставляются самые современные и качественные услуги
                    </p>
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="item">
                            <i class="icon icon-2"></i>
                            <h3>Кондиционер</h3>
                            <p>Бесшумные и современные</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="item">
                            <i class="icon icon-3"></i>
                            <h3>Ванная</h3>
                            <p>Есть в каждом номере</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="item">
                            <i class="icon icon-4"></i>
                            <h3>Душ</h3>
                            <p>Душ тоже есть</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="item">
                            <i class="icon icon-6"></i>
                            <h3>Телевизор</h3>
                            <p>Большие SMART ЖК-панели 55"<br>со спутниковым ТВ<br>(есть не только БТ и ОНТ)</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="item">
                            <i class="icon icon-7"></i>
                            <h3>WiFi</h3>
                            <p>1000 Mbit досуп<br>(спасибо Илону Маску)</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="item">
                            <i class="icon icon-8"></i>
                            <h3>Телефон</h3>
                            <p>Звони куда хочешь<br>(все под контролем :))</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="item">
                            <i class="icon icon-9"></i>
                            <h3>Мини бар</h3>
                            <p>От водки до текилы</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="item">
                            <i class="icon icon-10"></i>
                            <h3>Кухня</h3>
                            <p>Есть даже кухня<br>(ресторана пока нет)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Amenities Section Start -->
{% endblock %}