<!-- Booking Section Start -->
        <div id="booking">
            <div class="container">
            	<div class="section-header">
                    <h2>Бронирование</h2>
                    <p>
                        Просьба пройти регистрацию или войти в свой профиль. <br>Далее воспользуйтесь поиском : система подберет Вам свободные номера
                    </p>
                </div>                
                <div class="row">
                    <div class="col-md-12" style="text-align: center; margin: 20px 0;">
                         <a href="{% url 'login' %}" ><div class="button" ><button type="submit">Вход</button></div></a>                          
                    </div>
                    <div class="col-md-12" style="text-align: center;">                         
                         <a href="{% url 'registr' %}" ><div class="button"><button type="submit">Регистрация</button></div></a> 
                    </div>
                    
                </div>
            </div>
        </div>
        <!-- Booking Section End -->
