{% extends 'base_other.html' %}

{% block title %}Гостишка | Бронирование{% endblock %}

{% block content %}
        {% if form.errors or errors %}

            <!-- Booking Section Start -->            
            {% include "book_form_auth.html" %} 
            <!-- Booking Section End -->          

            {% include "book_room.html" %}         

        {% else %}

            {% if room_list %}
                {% include "book_room.html" %}
            {% endif %}

            <!-- Booking Section Start -->
            {% if user.is_authenticated %}
                {% include "book_form_auth.html" %}
            {% else %}
                {% include "book_form.html" %}
            {% endif %}
            <!-- Booking Section End -->

        {% endif %}

{% endblock %}