<!-- Booking Section Start -->
        <div id="booking">
            <div class="container">
            	<div class="section-header">
                    {% if room_list %}
                    <h2>Бронирование</h2>
                    <p>
                        Проверьте и подтвердите данные, завершите процедуру бронирования 
                    </p>
                    {% else %}
                    <h2>Воспользуйтесь поиском свободных номеров</h2>
                    <p>
                        Введите предполагаемые даты заселения и выезда, система подберет Вам свободные номера
                    </p>
                    {% endif %}
                </div>
                {% if room_list %}                
                <div class="row">
                    <div class="col-12">
                        <div class="booking-form">
                            <div id="success"></div>
                            <form name="sentMessage" id="bookingForm" novalidate="novalidate" method="POST">
                            	{% csrf_token %}
                                <div class="form-row">
                                    <div class="control-group col-sm-6">
                                        <label>Фамилия</label>
                                        <input type="text" class="form-control" id="lname" placeholder="Иванов" required="required" data-validation-required-message="Пожалуйста введите фамилию" name="last_name" value='{{ user.last_name }}'/>
                                        <p class="help-block text-danger"></p>
                                    </div>
                                    <div class="control-group col-sm-6">
                                        <label>Имя</label>
                                        <input type="text" class="form-control" id="fname" placeholder="Иван" required="required" data-validation-required-message="Пожалуйста введите имя" name="first_name" value='{{ user.first_name }}'/>
                                        <p class="help-block text-danger"></p>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="control-group col-sm-6">
                                        <label>Телефон</label>
                                        <input type="text" class="form-control" id="mobile" placeholder="+375296000000" required="required" data-validation-required-message="Пожалуйста введите телефон" name="phone" value='{{ user.first_name }}'/>
                                        <p class="help-block text-danger"></p>
                                    </div>
                                    <div class="control-group col-sm-6">
                                        <label>Email</label>
                                        <input type="email" class="form-control" id="email" placeholder="email@example.com" required="required" data-validation-required-message="Пожалуйста введите свой email" name="email" value='{{ user.email }}'/>
                                        <p class="help-block text-danger"></p>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="control-group col-sm-6">
                                        <label>Заселение</label>
                                        <input type="text" class="form-control datetimepicker-input" id="date-1" data-toggle="datetimepicker" data-target="#date-1" placeholder="ДД/ММ/ГГГГ" required="required" data-validation-required-message="Пожалуйста введите дату заселения" name="checkin"/>
 											                                

                                        <p class="help-block text-danger"></p>
                                    </div>
                                    <div class="control-group col-sm-6">
                                        <label>Убытие</label>
                                        <input type="text" class="form-control datetimepicker-input" id="date-2" data-toggle="datetimepicker" data-target="#date-2" placeholder="ДД/ММ/ГГГГ" required="required" data-validation-required-message="Пожалуйста введите дату убытия" name="checkout" />
                                        <p class="help-block text-danger"></p>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="control-group col-sm-6">
                                        <label>Взрослые</label>
                                        <select class="custom-select" id="adult" required="required" data-validation-required-message="хотя бы 1" name="adults"/>
	                                        {% if data.ad %}
	                                        	<option selected>{{ data.ad }}</option>
	                                    	{% else %}
	                                        	<option selected></option>
	                                    	{% endif %}
                                            <option value="1">1</option>
                                            <option value="2">2</option>                                            
                                        </select>
                                        <p class="help-block text-danger"></p>
                                    </div>
                                    <div class="control-group col-sm-6">
                                        <label>Дети</label>
                                        <select class="custom-select" id="kid" required="required" data-validation-required-message="Please select one" name="kids"/>
                                            {% if data.ad %}
		                                        <option selected>{{ data.kid }}</option>
		                                    {% else %}
		                                        <option selected>0</option>
		                                    {% endif %}
                                            <option value="1">1</option>
                                            <option value="2">2</option>                                            
                                        </select>
                                        <p class="help-block text-danger"></p>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label>Пожелания и предпочтения</label>
                                    <input type="text" class="form-control" id="request" placeholder="Введите особые пожелания" required="required" data-validation-required-message="Введите особые пожелания" name="special"/>
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="button"><button type="submit" id="bookingButton" name='booking'>Забронировать</button></div>
                            </form>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        <!-- Booking Section End -->
