{% extends 'base_other.html' %}

{% block content %}
        <!-- Profile Section Start -->
        <div id="rooms">
            <div class="container">
                <div class="section-header">
                    <h2>Добро пожаловать !</h2>
                    <p>
                        в этом разделе вся актуальная информация о вашем профиле
                    </p>
                </div>
                
               {% include "profile_data.html" %}
            </div>
        </div>
        <!-- Profile Section End -->
        
{% endblock %}