{% extends 'base_other.html' %}

{% block content %}
        <!-- Room Section Start -->
        <div id="rooms">
            <div class="container">
                <div class="section-header">
                    <h2>Добро пожаловать, {{ user.first_name }} !</h2>
                    <p>
                        в этом разделе вся актуальная информация о вашем профиле
                    </p>
                </div>
                <!--  -->
               
            </div>
        </div>
        <!-- Room Section End -->
        
{% endblock %}