{% extends main|yesno:"base_main.html,base_other.html" %}

{% block title %}Гостишка | Апартаменты и люксы{% endblock %}


{% block content %}
        <!-- Room Section Start -->
        <div id="rooms">
            <div class="container">
                {% if main %}
                    <div class="section-header">
                    <h2>Апартаменты & люксы</h2>
                        <p>
                            На любой вкус
                        </p>
                    </div>
                {% else %}
                    {% if data.result == True %}
                        <div class="section-header">
                            {% if data.error_date %}
                                <h2>Возникла ошибка!</h2>
                                <p><b style="color: red;">Не верный формат даты.</b><br> Скорее всего введена дата заселения более поздняя чем дата выезда. Дата заселения должна предшествовать дате убытия, также даты не могут быть одинаковыми, измените дату и повторите поиск.</p>
                            {% else %}
                                <h2>Найдено: {{ room_list|length }} свободных номеров</h2>
                                {% if room_list|length == 0 %}
                                    <p>Измените условия поиска, т.к. свободные номера на искомые даты <b style="color: red;">отсутствуют.</b> </p>
                                {% else %}
                                    <p>Свободные номера по Вашему запросу</p>
                                {% endif %}
                            {% endif %}
                        </div>
                    {% else %}
                        <div class="section-header">
                            <h2>Апартаменты & люксы</h2>
                            <p>
                                От простых апартаментов до люкса
                            </p>
                        </div>                
                    {% endif %}
                {% endif %}                
                <div class="row">
                    {% for room in room_list %}
                    
                    <div class="col-md-12 room">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="room-img">
                                    <img src="{{ room.img.url }}">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="room-des">
                                    <h3>{{room.number}}-{{ room.category }}</h3>
                                    {% if data.result == True %}
                                        {% if user.is_vip %}
                                            <h2 class="text-success">{{ data.nights }} ночей - {% widthratio data.nights_d 1 room.price %}$</h2>
                                            <h3>${% widthratio room.price 100 85 %}<span>/ Ночь</span></h3>
                                            <h3 style="text-decoration: line-through;color: #ff8597;">${{ room.price }}<span style="text-decoration: line-through ;">/ Ночь</span></h3>
                                        {% else%}
                                            <h2 class="text-success">{{ data.nights }} ночей - {% widthratio data.nights 1 room.price %}$</h2>
                                            <h3>${{ room.price }}<span>/ Ночь</span></h3>
                                        {% endif %}
                                    {% else %}
                                        {% if user.is_vip %}
                                            <h1>${% widthratio room.price 100 85 %}<span>/ Ночь</span></h1>
                                            <h3 style="text-decoration: line-through;color: #ff8597;">${{ room.price }}<span style="text-decoration: line-through ;">/ Ночь</span></h1>
                                        {% else%}
                                            <h1>${{ room.price }}<span>/ Ночь</span></h1>
                                        {% endif %}    
                                    {% endif %}
                                    <ul class="room-size">
                                        <li><i class="fa fa-arrow-right"></i>Размер: {{ room.size }} м2 </li>
                                        <li><i class="fa fa-arrow-right"></i>Кроватей: {{ room.beds }} раздельных </li>
                                    </ul>
                                    <ul class="room-icon">
                                        <li class="icon-1"></li>
                                        <li class="icon-2"></li>
                                        <li class="icon-3"></li>
                                        <li class="icon-4"></li>
                                        <li class="icon-5"></li>
                                        <li class="icon-6"></li>
                                        <li class="icon-7"></li>
                                        <li class="icon-8"></li>
                                        <li class="icon-9"></li>
                                        <li class="icon-10"></li>
                                    </ul>
                                    <div class="room-link">
                                        <a href="#" data-toggle="modal" data-target="#modal-id{{ forloop.counter }}">Подробнее</a>
                                        <a href="{% url 'create_book' pk=room.pk %}">Забронируй сейчас</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- Room Section End -->
        
        <!-- Modal for Room Section Start -->
        {% for room in room_list %}
        
        <div id="modal-id{{ forloop.counter }}" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="port-slider">
                                    <div><img src="{{ room.slide1.url }}"></div>
                                    <div><img src="{{ room.slide2.url }}"></div>
                                    <div><img src="{{ room.slide3.url }}"></div>

                                </div>
                                <div class="port-slider-nav">
                                    <div><img src="{{ room.slide1.url }}"></div>
                                    <div><img src="{{ room.slide2.url }}"></div>
                                    <div><img src="{{ room.slide3.url }}"></div>

                                </div>
                            </div>
                            <div class="col-12">
                                <h2>{{ room.category }}</h2>
                                <p>
                                    {{ room.text }}
                                </p>
                                <div class="modal-link">
                                    <a href="{% url 'create_book' pk=room.pk %}">Забронируй сейчас</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        {% endfor %}
        <!-- Modal for Room Section End -->
{% endblock %}